.adv {
  position: relative;
}

.adv__slider-header {
  justify-content: center;

  h2 {
    margin: 23px 0;
    margin-top: 64px;

    @include vp-1199 {
      margin-top: 69px;
    }

    @include vp-767 {
      margin-top: 48px;
      margin-bottom: 0;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  h2:after {
    left: -29%;
     @include vp-767 {
      left: -10%;
    }
  }
}

.adv__controls {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 0;
  padding-bottom: 81px;


  @include vp-1199 {
    display: none;
  }
}

.adv__slider {
  padding-bottom: 52px;

  @include vp-1199 {
    padding-bottom: 46px;
  }

  @include vp-767 {
    padding-bottom: 40px;
  }
}

.adv__slider-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 23px;


  @include vp-1199 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 30px;
    row-gap: 28px;
    padding: 0 45px;
    width: auto;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: 15px;
    margin-top: 19px;
  }
}

.adv__slider-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
  align-items: center;
  width: 380px;
  padding: 40px 19px;
  padding-bottom: 37px;
  min-height: 329px;
  height: auto;
  border: 1px solid $color-additional-20;
  background-color: $color-default-white;

  @include vp-1199 {
    width: 324px;
    padding: 30px 19px;
    padding-top: 29px;
    gap: 26px;
  }

  @include vp-767 {
    gap: 20px;
    width: 320px;
    padding: 19px 10px;
    min-height: 239px;

  }

  h3 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-bottom: 16px;

    @include vp-1199 {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 14px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 15px;
    }
  }

  p {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 0;


    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
    }
  }

}

.adv__slider-item:last-child:nth-child(2n+1) {
  @include vp-1199 {
    grid-column: 1/3;
    width: 380px;
    min-height: 290px;
  }

  @include vp-767 {
    width: 320px;
    min-height: 235px;
  }
}

.adv__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border: 1px solid $color-additional-100;

  @include vp-1199 {
    width: 48px;
    height: 48px;
  }

  @include vp-767 {
    width: 42px;
    height: 42px;
  }

  svg {
    color: $color-additional-100;
  }
}

.adv__cloud-left,
.adv__cloud-right {
  position: absolute;
  z-index: -1;

  @include vp-767 {
    display: none;
  }
}

.adv__cloud-left {
  top: -125px;
  left: 0;
}

.adv__cloud-right {
  top: 58px;
  right: 0;
}
