.btn {
  display: inline-flex;
  padding: 20px;

  color: $color-default-white;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  background-color: $color-additional-100;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--arrow {
    padding: 12px;
  }

  &:disabled {
    background-color: $color-disabled;
    pointer-events: none;
  }

  @include hover-focus {
    color: $color-active;
    background-color: $color-default-white;
  }


  @include active {
    background-color: $color-active;
  }
}
