.hero {
  min-width: 100%;
  top: -126px;
  z-index: -1;
  color: $color-default-white;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  img {
    width: 100%;
  }

  h1 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 77px;
    line-height: 77px;
    font-weight: 800;

    @include vp-1199 {
      font-size: 56px;
      line-height: 56px;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
    }
  }

  p {
    font-size: 17px;
    max-width: 420px;
  }
}

.hero__slider-item {
  display: grid;
}

.hero__background-img {
  grid-column: 1/1;
  grid-row: 1/1;
  background-color: $color-hero-bcg;
}

.hero__content {
  grid-column: 1/1;
  grid-row: 1/1;
  padding-top: 200px;
  padding-bottom: 80px;
 }

.hero__media--video {
  width: 482px;
  height: 317px;

  @include vp-1199 {
    width: 442px;
    height: 300px;
  }
}

.hero__media--video {
  position: relative;
}

.hero__media-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.hero__media-button {
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid $color-default-white;
  border-radius: 50%;
  padding-left: 3px;

  path {
    fill: $color-default-white;
  }

  @include hover-focus {
    border: 1px solid $color-active;
    outline: none;

    path {
      fill: $color-active;
    }
  }

  @include active {
    background-color: $color-active;

    path {
      fill: $color-default-white;
    }
  }
}

.hero__media-iframe {
  grid-column: 1/1;
  grid-row: 1/1;
  z-index: 1;
}

.hero__media-source {
  width: 482px;
  height: 317px;
  border: none;

  @include vp-1199 {
    width: 442px;
    height: 300px;
  }
}
