.hero {
  display: flex;
  min-width: 100%;
  min-height: 568px;
  top: -126px;
  z-index: 2;
  color: $color-default-white;
  background-color: rebeccapurple;
  //background-color: $color-hero-bcg;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  img {
    width: 100%;
  }

  h2 {
    position: relative;
    display: block;
    margin: 0;
    z-index: 5;
    margin-bottom: 23px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 77px;
    line-height: 77px;
    font-weight: 800;

    @include vp-1199 {
      font-size: 56px;
      line-height: 56px;
      text-align: center;
      margin-bottom: 13px;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
      margin-bottom: 15px;
    }
  }

  p {
    font-size: 17px;
    max-width: 464px;
    margin-bottom: 37px;

    @include vp-1199 {
      text-align: center;
      margin: 0 auto;
      max-width: 500px;
      margin-bottom: 27px;
    }

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 60px;
    }
  }

  button {
    @include vp-1199 {
      display: block;
      margin: 0 auto;
      margin-bottom: 452px;
    }

    @include vp-767 {
      margin-bottom: 0;
    }
  }
}

.hero__slider {
  min-height: 100%;
}

.hero__slider-list {
  height: 100%;
  flex-grow: 1;
}

.hero__slider-item {
  display: grid;
  height: 100%;
}

.hero__background-img {
  grid-column: 1/1;
  grid-row: 1/1;
  z-index: -2;
  height: 100%;

  img {
      height: 100%;
      object-fit: cover;
  }
}

.hero__content {
  position: relative;
  grid-column: 1/1;
  grid-row: 1/1;
  padding-top: 200px;
  padding-bottom: 80px;

  @include vp-1199 {
    padding-top: 212px;
  }

  @include vp-767 {
    padding-top: 140px;
  }
}

.hero__media {
  position: absolute;
  bottom: 154px;
  right: 120px;

  @include vp-767 {
    display: none;
  }
}

.hero__media--video {
  width: 482px;
  height: 317px;
  z-index: 1;

  @include vp-1199 {
    width: 442px;
    height: 300px;
    bottom: 187px;
    right: calc(50% - 221px);
  }
}

.hero__media--photos {
  width: 410px;
  height: 459px;

  @include vp-1199 {
    width: 442px;
    height: 365px;
    bottom: 122px;
    right: calc(50% - 221px);
  }
}

.hero__media--audio {
  width: 340px;
  height: 220px;

  @include vp-1199 {
    bottom: 267px;
    right: calc(50% - 170px);
  }
}

.hero__media-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.hero__media-button {
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid $color-default-white;
  border-radius: 50%;
  padding-left: 5px;

  path {
    fill: $color-default-white;
  }

  @include hover-focus {
    border: 1px solid $color-active;
    outline: none;

    path {
      fill: $color-default-white;
      stroke: $color-default-black;
    }
  }

  @include active {
    background-color: $color-active;

    path {
      fill: $color-default-white;
      stroke: $color-default-white;
    }
  }
}

.hero__media-iframe {
  // grid-column: 1/1;
  // grid-row: 1/1;
  // z-index: 1;
  width: 100%;
  height: 100%;
}

.hero__media-source {
  width: 482px;
  height: 317px;
  border: none;

  @include vp-1199 {
    width: 442px;
    height: 300px;
  }
}

.hero__parameters-list {
  position: absolute;
  bottom: 80px;
  display: flex;
  gap: 10px;

  @include vp-1199 {
    display: none;
  }
}

.hero__parameters-item {
  display: flex;
  gap: 8px;
  font-size: 12px;
  line-height: 14px;
  padding: 14px 19px;
  border: 1px solid $color-default-white;
}

.swiper-horizontal>.swiper-pagination-bullets {
  position: absolute;
  display: flex;
  gap: 12px;
  bottom: 97px;
  left: 1245px;

  @include vp-1199 {
    bottom: 40px;
    left: 345px;
  }

  @include vp-767 {
    left: 139px;
  }
}

.swiper-pagination-bullet {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid $color-default-white;
  background-color: $color-transparent;
  padding: 0;
  flex-shrink: 0;
  opacity: 1;
  margin: 0;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.swiper-pagination-bullet-active {
  background-color: $color-default-white;
}
