.tours {
  position: relative;
  padding-top: 120px;
  padding-bottom: 100px;
  overflow: hidden;

  @include vp-1199 {
    padding-top: 65px;
    padding-bottom: 45px;
  }

  @include vp-767 {
    padding-top: 40px;
    padding-bottom: 15px;
    width: 350px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 50px 0 64px;

    @include vp-1199 {
      margin: 22px 0 36px;
    }

    @include vp-767 {
      margin-top: 25px;
    }
  }

  img {
    width: 100%;
  }
}

.tours__header {

  @include vp-767 {
    align-items: end;
  }

  h2 {
    padding-top: 3px;

    @include vp-767 {
      font-size: 22px;
      line-height: 22px;
      bottom: -7px;
    }
  }
}


.tous__controls {
  display: flex;
  gap: 4px;
  margin-top: 0;
}

.tours__info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: $color-default-white;
  padding: 26px 20px;

  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    max-width: 233px;
    margin: 16px 0 30px;
  }

  .btn {
    display: flex;
    gap: 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    padding: 5px 12px;
  }
}

.tours__header {
  h2 {
    margin: 0;
  }
}

.tours__parameters {
  display: flex;
  justify-content: space-between;
}

.tours__duration {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  display: flex;
  gap: 14px;
  align-items: center;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: max-content;
    gap: 12px;
  }

  p {
    margin: 0;
  }
}

.tours__parameters-title {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  padding-bottom: 6px;
}

.tours__parameters-data {
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
}

.tours__show-all {
  display: flex;
  justify-content: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  margin: 0 auto;

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }
}
