// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-default-white-50: rgba(255, 255, 255, 0.5);
$color-transparent: rgba(255, 255, 255, 0);


// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-text-primary: #2d383f;
$color-additional-100: #0266c1;
$color-disabled: #999999;
$color-active: #1c3374;
$color-error: #ff121f;
$color-hero-bcg: #7a9ab8;
$color-text-primary-opacity-20: rgba(45, 56, 63, 0.2);
$color-text-primary-opacity-30: rgba(45, 56, 63, 0.3);
$color-text-primary-opacity-50: rgba(45, 56, 63, 0.5);
$color-additional-50: rgba(2, 102, 193, 0.5);
$color-additional-20: rgba(2, 102, 193, 0.2);
$color-additional-10: rgba(2, 102, 193, 0.1);
$color-form-bcg: #6c8c8c;

// Gradient

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13

$ff-placeholder: "Montserrat", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-350: 350px;
$vp-768: 768px;
$vp-1200: 1200px;


// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
